<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kn.uni.inf.sensortagvr">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/vr_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vr_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".SessionActivity" />
        <activity android:name=".ble.ScanListActivity" />
        <activity android:name=".tracking.TrackingTestActivity" />
        <activity android:name=".ble.LiveDataActivity" />
        <activity android:name=".tracking.APSettingsActivity"/>
        <activity android:name=".SettingsActivity" />

        <service
            android:name=".ble.BluetoothLEService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BLUETOOTH_LE" />
        <service
            android:name=".tracking.TrackingManagerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION" />
        <service
            android:name=".stor.StorageMainService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.WRITE_EXTERNAL_STORAGE">
        </service>

    </application>

</manifest>