<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deutsch.vrdata">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vr_transparent_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vr_transparent_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".TabSample" android:label="@string/app_name"></activity>
        <activity android:name=".TabGroup1Activity" />
        <activity android:name=".TabGroup2Activity" />
        <activity android:name=".TabGroup3Activity" />
        <activity android:name=".TabGroupActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecordActivity" />
        <activity android:name=".VRActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>