# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Settings
# Please reimport your project to make the IDE generate all files, if problems occur
.idea/
*.iml
*.iws
/local.properties
.DS_Store
/captures
.externalNativeBuild
.navigation/

# Gradle Temp:
.gradle
build/
bin/
gen/
out/

# Keystore files
*.jks

#Latex
*.toc
*.synctex.gz
*.log
*.fls
*.aux
*.out

# VCS exlusion
!/.idea/vcs.xml