<mxfile userAgent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.81 Safari/537.36" version="6.5.7" editor="www.draw.io" type="device"><diagram name="Page-1">1ZZNc9NADIZ/jY8wtjcfzZGEAAe4kBkox8VW7KXrlWejNAm/HtmWY7tOZzJTWmguWb3Sfj3SahyoVXH86HWZf8EUbBCH6TFQ74M4jibxjP8q5dQoczVphMybVII6YWN+g4ihqHuTwm4QSIiWTDkUE3QOEhpo2ns8DMO2aIe7ljqDkbBJtB2r301KeaPeTMNO/wQmy9udo1A8P3Vyl3ncO9kviNW2/jXuQrdrSfwu1ykeepJaB2rlEakZFccV2Ipti62Z9+ER7/ncHhxdMyFuJtxru4f2xPW56NSyOOSGYFPqpLIPnO9ALXMqLFsRD7fG2hVa9HV0e1u1zLxODZ+i9Tl0UIWjI8l3NGNb9gdPcHz0DtGZDFccYAHkTxwiE26EpdRavFCNfegyF7W8817WlGhaiiU7r9wB44Ewu8xvMsIFKVeSmOgpxwydtutOXdblAdUC4RAlHA3d9sY/qpC308pyfK5bmVEbne8XEJ0Eqd4TstTt+xmxbBN1kXx13AH3He59IpK8YtI+A4E2vzo7Hqwmcz9c/Smsp8/POv6/YEfhv6M9G3WGDd/duGw3SgM/XRrS3ZHHO3j49HudQiRtTebYTPh6wPqyagSG+/A7cRQmTetEXupCL9FLFtf1kvgv9JL5mDgXA7G0STyAe32dOZ4sBjhVNH+51tw+nh7Pb1/fVN8qrxDk9EFdzqNnA8lm9/1R+3ofeWr9Bw==</diagram></mxfile>